
@{
    ViewBag.Title = "Contract Terms";
}
@model Take_Home_Tutor_2._0.Models.Tutor

<body>
    <div class="contractPreviewWrapper disabled">
        <div class="contractPreview">
            <div id="contract" class="DCS">
                <div id="outputPage">
                    <div class="outputVersion1">
                        <div>
                            <p style="line-height:18.0pt;font-size:12.0pt;font-family:Times;text-align:Center;">
                                <span style="font-style:normal;font-weight:bold;">INDEPENDENT CONTRACTOR AGREEMENT</span>
                            </p>
                            <p style="line-height:18.0pt;font-size:12.0pt;font-family:Times;text-align:Left;">
                                <span style="font-style:normal;font-weight:bold;">THIS INDEPENDENT CONTRACTOR AGREEMENT (the "Agreement") dated @DateTime.Now</span><span style="font-style:normal;font-weight:bold;"><br><br></span><span style="font-style:normal;font-weight:bold;">BETWEEN:<br></span>
                            </p>
                            <p style="line-height:18.0pt;font-size:12.0pt;font-family:Times;text-align:Center;">
                                Take Home Tutor LLC of 206 washington pike, Avella, Pennsylvania, 15312<br>(the "Client")
                            </p>
                            <p style="line-height:18.0pt;font-size:12.0pt;font-family:Times;text-align:Center;">
                                <span style="font-style:normal;font-weight:bold;">- AND -</span>
                            </p>
                            <p style="line-height:18.0pt;font-size:12.0pt;font-family:Times;text-align:Center;">
                                @Model.FirstName @Model.LastName<br>(the "Contractor").
                            </p>
                            <p style="line-height:18.0pt;font-size:12.0pt;font-family:Times;text-align:Left;">
                                <span style="font-style:normal;font-weight:bold;">BACKGROUND:</span>
                            </p>
                            <ol start="1" style="line-height:18.0pt;font-size:12.0pt;font-family:Times;list-style:upper-alpha;">
                                <li style="margin-bottom:18.0pt;" value="1">
                                    The Client is of the opinion that the Contractor has the necessary qualifications, experience and abilities to provide services to the Client.<br>
                                </li>
                                <li style="margin-bottom:0.0pt;" value="2">
                                    The Contractor is agreeable to providing such services to the Client on the terms and conditions set out in this Agreement.<br>
                                </li>
                            </ol>
                            <p style="line-height:18.0pt;font-size:12.0pt;font-family:Times;text-align:Left;">
                                <span style="font-style:normal;font-weight:bold;">IN CONSIDERATION OF</span> the matters described above and of the mutual benefits and obligations set forth in this Agreement, the receipt and sufficiency of which consideration is hereby acknowledged, the Client and the Contractor (individually the "Party" and collectively the "Parties" to this Agreement) agree as follows:
                            </p>
                            <ol start="1" style="line-height:18.0pt;font-size:12.0pt;font-family:Times;list-style:decimal;">
                                <li class="lh" style="text-align:Left;list-style:none;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Services Provided </span><br>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="1">
                                    The Client hereby agrees to engage the Contractor to provide the Client with services (the "Services") consisting of:<br>
                                    <ul>
                                        <li style="margin-bottom:0.0pt;" value="1">
                                            Tutor and create online course content.<br>
                                        </li>
                                    </ul>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="2">
                                    The Services will also include any other tasks which the Parties may agree on. The Contractor hereby agrees to provide such Services to the Client.<br>
                                </li>
                                <li class="lh" style="text-align:Left;list-style:none;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Term of Agreement</span><br>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="3">
                                    The term of this Agreement (the "Term") will begin on the date of this Agreement and will remain in full force and effect indefinitely until terminated as provided in this Agreement.<br>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="4">
                                    In the event that either Party wishes to terminate this Agreement, that Party will be required to provide 1 day's written notice to the other Party.<br>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="5">
                                    This Agreement may be terminated at any time by mutual agreement of the Parties.<br>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="6">
                                    Except as otherwise provided in this Agreement, the obligations of the Contractor will end upon the termination of this Agreement.<br>
                                </li>
                                <li class="lh" style="text-align:Left;list-style:none;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Performance</span><br>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="7">
                                    The Parties agree to do everything necessary to ensure that the terms of this Agreement take effect.<br>
                                </li>
                                <li class="lh" style="text-align:Left;list-style:none;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Currency</span><br>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="8">
                                    Except as otherwise provided in this Agreement, all monetary amounts referred to in this Agreement are in USD (US Dollars).<br>
                                </li>
                                <li class="lh" style="text-align:Left;list-style:none;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Compensation</span><br>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="9">
                                    For the services rendered by the Contractor as required by this Agreement, the Client will provide compensation (the "Compensation") to the Contractor as follows:<br>
                                    <ul>
                                        <li style="margin-bottom:0.0pt;" value="1">
                                            $15 per hour tutoring. &nbsp;50% commission per course sale up to 100 students. &nbsp;60% commission 101-250 students. &nbsp;70% commission 251+ students.<br>
                                        </li>
                                    </ul>
                                </li>
                                <li class="lh" style="text-align:Left;list-style:none;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Reimbursement of Expenses</span><br>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="11">
                                    The Contractor will not be reimbursed for any expenses incurred in connection with providing the Services of this Agreement.<br>
                                </li>
                                <li class="lh" style="text-align:Left;list-style:none;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Confidentiality</span><br>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="12">
                                    Confidential information (the "Confidential Information") refers to any data or information relating to the Client, whether business or personal, which would reasonably be considered to be private or proprietary to the Client and that is not generally known and where the release of that Confidential Information could reasonably be expected to cause harm to the Client.<br>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="13">
                                    The Contractor agrees that they will not disclose, divulge, reveal, report or use, for any purpose, any Confidential Information which the Contractor has obtained, except as authorized by the Client or as required by law. The obligations of confidentiality will apply during the term of this Agreement and will survive indefinitely upon termination of this Agreement.<br>
                                </li>
                                <li class="lh" style="text-align:Left;list-style:none;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Ownership of Intellectual Property</span><br>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="14">
                                    All intellectual property and related material, including any trade secrets, moral rights, goodwill, relevant registrations or applications for registration, and rights in any patent, copyright, trademark, trade dress, industrial design and trade name (the "Intellectual Property") that is developed or produced under this Agreement, is a "work made for hire" and will be the sole property of the Client. The use of the Intellectual Property by the Client will not be restricted in any manner.<br>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="15">
                                    The Contractor may not use the Intellectual Property for any purpose other than that contracted for in this Agreement except with the written consent of the Client. The Contractor will be responsible for any and all damages resulting from the unauthorized use of the Intellectual Property.<br>
                                </li>
                                <li class="lh" style="text-align:Left;list-style:none;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Return of Property</span><br>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="16">
                                    Upon the expiry or termination of this Agreement, the Contractor will return to the Client any property, documentation, records, or Confidential Information which is the property of the Client.<br>
                                </li>
                                <li class="lh" style="text-align:Left;list-style:none;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Capacity/Independent Contractor</span><br>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="17">
                                    In providing the Services under this Agreement it is expressly agreed that the Contractor is acting as an independent contractor and not as an employee. The Contractor and the Client acknowledge that this Agreement does not create a partnership or joint venture between them, and is exclusively a contract for service. &nbsp;The Client is not required to pay, or make any contributions to, any social security, local, state or federal tax, unemployment compensation, workers' compensation, insurance premium, profit-sharing, pension or any other employee benefit for the Contractor during the Term. &nbsp;The Contractor is responsible for paying, and complying with reporting requirements for, all local, state and federal taxes related to payments made to the Contractor under this Agreement.<br>
                                </li>
                                <li class="lh" style="text-align:Left;list-style:none;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Notice</span><br>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="18">
                                    All notices, requests, demands or other communications required or permitted by the terms of this Agreement will be given in writing and delivered to the Parties of this Agreement as follows:<br>
                                    <ol start="1" style="list-style:lower-alpha;">
                                        <li style="margin-bottom:18.0pt;" value="1">
                                            Take Home Tutor LLC<br>206 washington pike, Avella, Pennsylvania, 15312<br>
                                        </li>
                                        <li style="margin-bottom:0.0pt;" value="2">
                                            @Model.FirstName @Model.LastName<br>
                                        </li>
                                    </ol>
                                    <p style="text-align:Left;">
                                        or to such other address as any Party may from time to time notify the other, and will be deemed to be properly delivered (a) immediately upon being served personally, (b) two days after being deposited with the postal service if served by registered mail, or (c) the following day after being deposited with an overnight courier.
                                    </p>
                                </li>
                                <li class="lh" style="text-align:Left;list-style:none;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Indemnification</span><br>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="19">
                                    Except to the extent paid in settlement from any applicable insurance policies, and to the extent permitted by applicable law, each Party agrees to indemnify and hold harmless the other Party, and its respective affiliates, officers, agents, employees, and permitted successors and assigns against any and all claims, losses, damages, liabilities, penalties, punitive damages, expenses, reasonable legal fees and costs of any kind or amount whatsoever, which result from or arise out of any act or omission of the indemnifying party, its respective affiliates, officers, agents, employees, and permitted successors and assigns that occurs in connection with this Agreement. This indemnification will survive the termination of this Agreement.<br>
                                </li>
                                <li class="lh" style="text-align:Left;list-style:none;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Modification of Agreement</span><br>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="20">
                                    Any amendment or modification of this Agreement or additional obligation assumed by either Party in connection with this Agreement will only be binding if evidenced in writing signed by each Party or an authorized representative of each Party.<br>
                                </li>
                                <li class="lh" style="text-align:Left;list-style:none;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Time of the Essence</span><br>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="21">
                                    Time is of the essence in this Agreement. No extension or variation of this Agreement will operate as a waiver of this provision.<br>
                                </li>
                                <li class="lh" style="text-align:Left;list-style:none;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Assignment</span><br>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="22">
                                    The Contractor will not voluntarily, or by operation of law, assign or otherwise transfer its obligations under this Agreement without the prior written consent of the Client.<br>
                                </li>
                                <li class="lh" style="text-align:Left;list-style:none;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Entire Agreement</span><br>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="23">
                                    It is agreed that there is no representation, warranty, collateral agreement or condition affecting this Agreement except as expressly provided in this Agreement.<br>
                                </li>
                                <li class="lh" style="text-align:Left;list-style:none;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Enurement</span><br>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="24">
                                    This Agreement will enure to the benefit of and be binding on the Parties and their respective heirs, executors, administrators and permitted successors and assigns.<br>
                                </li>
                                <li class="lh" style="text-align:Left;list-style:none;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Titles/Headings</span><br>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="25">
                                    Headings are inserted for the convenience of the Parties only and are not to be considered when interpreting this Agreement.<br>
                                </li>
                                <li class="lh" style="text-align:Left;list-style:none;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Gender</span><br>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="26">
                                    Words in the singular mean and include the plural and vice versa. Words in the masculine mean and include the feminine and vice versa.<br>
                                </li>
                                <li class="lh" style="text-align:Left;list-style:none;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Governing Law</span><br>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="27">
                                    It is the intention of the Parties to this Agreement that this Agreement and the performance under this Agreement, and all suits and special proceedings under this Agreement, be construed in accordance with and governed, to the exclusion of the law of any other forum, by the laws of the Commonwealth of Pennsylvania, without regard to the jurisdiction in which any action or special proceeding may be instituted.<br>
                                </li>
                                <li class="lh" style="text-align:Left;list-style:none;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Severability</span><br>
                                </li>
                                <li style="margin-bottom:18.0pt;" value="28">
                                    In the event that any of the provisions of this Agreement are held to be invalid or unenforceable in whole or in part, all other provisions will nevertheless continue to be valid and enforceable with the invalid or unenforceable parts severed from the remainder of this Agreement.<br>
                                </li>
                                <li class="lh" style="text-align:Left;list-style:none;">
                                    <span style="font-style:normal;font-weight:bold;text-decoration:underline;">Waiver</span><br>
                                </li>
                                <li style="margin-bottom:0.0pt;" value="29">
                                    The waiver by either Party of a breach, default, delay or omission of any of the provisions of this Agreement by the other Party will not be construed as a waiver of any subsequent breach of the same or other provisions.<br>
                                </li>
                            </ol>
                            <span style="line-height:18.0pt;font-size:12.0pt;font-family:Times;">
                                <br><span style="font-style:normal;font-weight:bold;">IN WITNESS WHEREOF</span> the Parties have duly affixed their electronic signatures under hand and seal on this @DateTime.Now<br><br>
                            </span>
                            <table style="line-height:18.0pt;margin-right:auto;width:100%;border-collapse:separate;border-spacing:0pt;">
                                <colgroup>
                                    <col style="width:48%;">
                                    <col style="width:4%;">
                                    <col style="width:48%;">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:48%;">
                                            &nbsp;
                                        </td>
                                        <td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:4%;">
                                            &nbsp;
                                        </td>
                                        <td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:48%;">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="line-height:16.0pt;text-align:Left;vertical-align:Bottom;padding:2.0pt;width:48%;">
                                            &nbsp;
                                        </td>
                                        <td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:4%;">
                                            &nbsp;
                                        </td>
                                        <td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:48%;">
                                            <p style="font-size:12.0pt;font-family:Times;text-align:Left;">
                                                Mr. Terry Glenn Jacobs Jr.
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="line-height:16.0pt;text-align:Left;vertical-align:Bottom;padding:2.0pt;width:48%;">
                                            &nbsp;
                                        </td>
                                        <td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:4%;">
                                            &nbsp;
                                        </td>
                                        <td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:48%;">
                                            <p style="font-size:12.0pt;font-family:Times;text-align:Left;">
                                                Take Home Tutor LLC (Client)
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <span style="line-height:18.0pt;font-size:12.0pt;font-family:Times;">
                                <br>
                            </span>
                            <table style="line-height:18.0pt;margin-right:auto;width:100%;border-collapse:separate;border-spacing:0pt;">
                                <colgroup>
                                    <col style="width:48%;">
                                    <col style="width:4%;">
                                    <col style="width:48%;">
                                </colgroup>
                                <tbody>
                                    <tr>
                                        <td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:48%;">
                                            &nbsp;
                                        </td>
                                        <td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:4%;">
                                            &nbsp;
                                        </td>
                                        <td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:48%;">
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="line-height:16.0pt;text-align:Left;vertical-align:Bottom;padding:2.0pt;width:48%;">
                                            &nbsp;
                                        </td>
                                        <td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:4%;">
                                            &nbsp;
                                        </td>
                                        <td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:48%;">
                                            <p style="font-size:12.0pt;font-family:Times;text-align:Left;">
                                                <a href="@Url.Action("AcceptedContract", "Profile")" class="btn btn-primary">I Accept the Terms</a>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="line-height:16.0pt;text-align:Left;vertical-align:Bottom;padding:2.0pt;width:48%;">
                                            &nbsp;
                                        </td>
                                        <td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:4%;">
                                            &nbsp;
                                        </td>
                                        <td style="text-align:Left;vertical-align:Bottom;padding:2.0pt;width:48%;">
                                            <p style="font-size:12.0pt;font-family:Times;text-align:Left;">
                                                @Model.FirstName @Model.LastName (Contractor)
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


